$title
$symmetry c1
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
c  1                                                                           \
   basis =c def-SV(P)                                                          \
   jbas  =c def-SV(P)
h  2-5                                                                         \
   basis =h def-SV(P)                                                          \
   jbas  =h def-SV(P)
$basis    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$alpha shells
 a       1-5                                    ( 1 )
$beta shells
 a       1-4                                    ( 1 )
$scfiterlimit       30
$scfconv        7
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$disp
$ricore     2000
$rij
$jbas    file=auxbasis
$last step     ridft
$orbital_max_rnorm 0.40623695640491E-04
$last SCF energy change = -39.660821
$subenergy  Etot         E1                  Ej                Ex                 En
-39.66082118662    -75.80298021146     0.000000000000     0.000000000000     13.44774647600
$ssquare from ridft
          0.765 (not to be modified here)
$charge from ridft
          1.000 (not to be modified here)
$dipole from ridft
  x    -0.27318084375255    y     0.00000000223208    z    -0.19316791425734    a.u.
   | dipole | =    0.8504157569  debye
$end
